<nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#body">Клиенты</a></li>
          <li><a href="#about">Заказы</a></li>
          <li><a href="#services">Склад</a></li>
          <li><a href="#portfolio">Портфолио</a></li>

          <li class="menu-has-children"><a href="">Справочники</a>
            <ul>
              <li><a href="#">Выполняемые работы</a></li>
              <li><a href="#">Номенклатура товаров</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#contact">Контакт</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->