{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Клиенты | {{ block.super }}{% endblock title %}

{% block css_style %}
    {{ block.super }}
    <link href="{% static 'css/workpages.css' %}" rel="stylesheet">
{% endblock %}

{% block topbar %}{% endblock %}

{% block mainment %}{% include '_work_menu.html' %}{% endblock %}


{% block content %}
    <section id="content">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group col-sm-4 has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input id="clientSearch" type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
        <div id="content">
            <table id="clients_table">
                <thead>
                    <tr>
                        <th>Test</th>
                    </tr>
                </thead>
                <tbody>


                </tbody>
            </table>


        </div>



    </section>



{% endblock %}

{% block footer %}{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script>
        $( "#clientSearch" ).change(function() {
            console.log($("#clientSearch").val())
            $.ajax({
                type: "POST",
                url: "ajax/clientsearch",
                data: {
                    'clientSearch':$("#clientSearch").val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(data){
                    $("#clients_table").html(data);}
            });
        });
    </script>
{% endblock %}