asgiref==3.2.3
Django==3.0.12
django-admin-sortable2==0.7.5
django-admin-thumbnails==0.2.4
django-constance==2.6.0
django-js-asset==1.2.2
django-mptt==0.11.0
django-picklefield==2.1.1
django-summernote==0.8.11.6
docutils==0.16
Pillow==7.0.0
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
