{% load i18n %}
{% load static %}
{% load  main_tags%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Voloshin I.V.">

    <title>{% block title %}Дом быта №1{% endblock %}</title>
    {% block css_style %}
         <!-- Favicons -->
        <link href="{% static 'img/favicon.png' %}" rel="icon">
        <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
        <!-- Bootstrap CSS File -->
        <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Libraries CSS Files -->
        <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
        <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
        <!-- Main Stylesheet File -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body id="body">
    {% block topbar %}
    <!--==========================
    Top Bar
      ============================-->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
            <div class="contact-info float-left">
                <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">{{ config.EMail}}</a>
                <i class="fa fa-phone"></i> {{ config.Phone_Number }}
            </div>
            {% social_links %}

        </div>
    </section>
    {% endblock %}
    <!--==========================
        Header
          ============================-->
    <header id="header">
        <div class="container">
            <div id="logo" class="pull-left">
                <h1><a href="#body" class="scrollto">Дом <span>быта №1</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>
            <!-- Navigation -->
            {% block mainment %}
                {% main_menu %}
            {% endblock %}
        </div>
    </header><!-- #header -->

    {% block content %}   {% endblock content %}

    {% block footer %}
        {% include '__footer.html' %}
    {% endblock %}
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    {% block javascript %}
        <!-- JavaScript Libraries -->
        <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
        <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
        <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
        <script src="{% static 'lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/magnific-popup/magnific-popup.min.js' %}"></script>
        <script src="{% static 'lib/sticky/sticky.js' %}"></script>
        <!-- Contact Form JavaScript File -->
        <script src="contactform/contactform.js' %}"></script>
        <!-- Template Main Javascript File -->
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</body>